pymongo==3.11.0
requests==2.22.0
loguru==0.5.3
Django==3.1.9
PyQt5==5.15.1
djoser==2.1.0
djangorestframework==3.12.2
pytest==6.1.2
pytest-django==4.1.0
pytest-html==3.0.0
selenium==3.141.0
pytest-selenium==2.0.1
pytest-qt==3.3.0
