.content {
    min-height: calc(100vh - 180px);
}

.page_footer {
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    text-align: right;
}

.page_footer_content {
    padding: 0.5em;
}

.algorithm_shortview {
    width:98%;
    height:180px;
    padding-left: 10;
    border:1px solid #000;
    /* position: relative; */
}

#NewAlgTitle {
    width:100%;
    height:40px;
    font-size:18px
}

#NewAlgDescription {
    width:100%;
    height:60px;
    font-size:14px;
    resize:none;
}

#NewAlgSource {
    width:100%;
    height:45%;
    resize:vertical;
}

#BuyButton {
    width: 70%;
    height: 50%;
    font-size: 150px;
    margin-left: 15%;
    margin-right: 15%;
}
