{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<input type="button" onclick="location.href='/store/{{ alg_id }}/add_test'" value="Add test" />
<input type="button" onclick="location.href='/run/{{ alg_id }}'" value="Run validation" />
<br><br>

<h2>Language:</h2>{{ language }}<br>

<h2>Description:</h2>
<pre>{{ description }}</pre>

<h2>Source code:</h2>
<pre>{{ source_code }}</pre>

<h2>Found {{ tests|length }} tests</h2>

{% for test in tests %}
    <h3>{{ test.test_id }}: {{ test.title }}</h3>
    <h4>Input:</h4>
    <pre>{{ test.input }}</pre>
    <h4>Output:</h4>
    <pre>{{ test.output }}</pre>
    <br><br>
{% endfor %}

{% endblock %}
