{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="page_header">
            <table width="100%">
                <tr>
                    <td align="left">
                        <h1 class="site_name">Webforces</h1>
                    </td>
                    <td align="right">
                        <div class="buttons">
                            {% for entry in base_index %}
                                <input type="button" id="{{ entry.id }}" onclick="location.href='{{ entry.url }}'" value="{{ entry.description }}" />
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="page_footer">
            <div class="page_footer_content">
                <p><a href="{{ git_repo_link }}">Webforces</a>, 2020</p>
            </div>
        </div>
    </body>
</html>
