{% extends 'base.html' %}

{% block content %}
<h1>Algorithms store</h1>

<input type="button" onclick="location.href='/add_alg'" value="Add new algorithm" />
<br><br>

{% for algorithm in algorithms_list %}
    <div class='algorithm_shortview'>
        <h2>{{ algorithm.title }}</h2>
        <p>{{ algorithm.description }}</p>
        <p>cost: {{ algorithm.cost }}</p>
        <!--to do: check for unavailable algorithms-->
        <a href="algs/{{ algorithm.alg_id }}">Go to algorithm page</a>
    </div>
    <br>
{% endfor %}

{% endblock %}
