{% extends 'base.html' %}

{% block content %}
<h1>Algorithms store</h1>

<input type="button" onclick="location.href='/add_alg'" value="Add new algorithm" />
<br><br>

{% for algorithm in algorithms_preview_list %}
    <div class='algorithm_shortview'>
        <h2>{{ algorithm.title }}</h2>
        <p>{{ algorithm.description }}</p>
        <p>cost: {{ algorithm.cost }}</p>

        {% if algorithm.available == True %}
            <a href="{{ algorithm.alg_id }}/alg">Go to algorithm page</a>
        {% else %}
            <a href="{{ algorithm.alg_id }}/buy">Buy algorithm</a>
        {% endif %}
        <br><br>
    </div>
    <br>
{% endfor %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
